*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    margin-top: 15%;
}
.container{
    background-color: #CBCBCB;
    padding: 20px;
    border-radius: 10px;
}
h1{
    margin-bottom: 20px;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}
button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #c51616;
    color: #fff;
}
.element{
    display: flex;
    justify-content: space-between;
}
svg{
    cursor: pointer;
}
.TaskList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.invisible{
    display: none;
}